
body{
	background: url('../img/it8.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}



.board-container {
	padding-top: 0px;
	border-radius: 15px;
	width: 1150px !important;
	height : 705px;
	background: #669999;
	margin-top: 140px !important;
}

.board-create-form {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	top : 30px;
	max-width: 1100px;
	margin: 30px auto 30px;
	padding: 30px 40px 30px 20px;
	text-align: center;
	border-radius: 30px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0
		rgba(0, 0, 0, 0.24);
	height: 650px;
}

.board-create-title {
	font-family: "Roboto", sans-serif;
	font-size: 23px;
	font-weight: bold;
}

.input-control {
	width: 95%;
	height: 170px;
	padding: 6px 12px;
	font-size: 14px;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 15px;
}

/*파일*/
.filebox label {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	background: #4A8C99;
	padding: 7px;
	color: #FFFFFF;
	width: 20%;
	font-size: 17px;
	cursor: pointer; /*커서모양을 바꿈*/
	border-radius: 8px;
	margin-bottom: 0px;
	margin-left: 5px;
}

.filebox button[type="button"] {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	background: #4A8C99;
	padding: 7px;
	font-weight: bold;
	color: #FFFFFF;
	width: 25.5%;
	font-size: 15px;
	cursor: pointer; /*커서모양을 바꿈*/
	border-radius: 8px;
}

/* 파일 필드 숨기기 */
.filebox input[type="file"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

#fileupload {
	position: absolute;
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	font-weight: bold;
	width: 900px;
	top: 274px;
	left: 40px;
	height: 50px;
}

.filecanclebtn {
	position: absolute;
	font-weight: bold;
	top: 273px;
	height: 39px;
	left: 600px;
	font-family: "Roboto", sans-serif;
	background: #4A8C99;
	color: #FFFFFF;
	width: 17%;
	font-size: 17px;
	cursor: pointer; /*커서모양을 바꿈*/
	border-radius: 8px;
}

.fileListTitle {
	position: absolute;
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	font-weight: bold;
	left: 250px;
	top: 280px;
}

.overlap-btn {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	background: #4A8C99;
	padding: 7px;
	color: #FFFFFF;
	width: 23%;
	font-size: 15px;
	cursor: pointer; /*커서모양을 바꿈*/
	border-radius: 8px;
}

.btn {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	background: #4A8C99;
	padding: 7px;
	color: #FFFFFF;
	width: 20%;
	font-size: 17px;
	cursor: pointer; /*커서모양을 바꿈*/
	border-radius: 8px;
	margin-bottom: 0px;
	margin-left: 5px;
}

.boardbtn {
	position: absolute;
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	font-weight: bold;
	width: 800px;
	left: 160px;
	top: 580px;
}

.file-upload-list {
	position: absolute;
	left: 42px;
	top: 330px;
	width: 90%;
	height: 170px;
	padding: 6px 12px;
	font-size: 14px;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 15px;
}

.files {
	float: left;
	margin-right: 10px;
	border-radius: 20px;
	padding: 5px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0
		rgba(0, 0, 0, 0.24);
}
.orgfiles{
	float: left;
	margin-right: 10px;
	border-radius: 20px;
	padding: 5px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0
		rgba(0, 0, 0, 0.24);
}

.filedelete{
	font-size: 20px;
	font-weight: bold;
}


