	
	.header-container{
		border-radius : 20px 20px 0 0;
		position: absolute;
		width : 1138px;
		padding-top : 20px;
		background: #699996;
		height: 135px !important;
		
	}
	
	.main-logo{
		position: relative;
		left: 20px;
		width : 100px;
	}	
	
	.main-logo img{
		width:195px;
		height:70px;
	}
	
	.user-profile{
		position: relative;
		left : 295px;
		width:85px;
		height:90px;
	}
	
	.user-profile img{
		width:90px;
		height:100px;
		border-radius: 30px;
		border : 3px solid;
		border-color: #FFFFFF;

	} 
	
	#name-limit{
		width : 180px;  
		table-layout : fixed;
	}
	
	#welcome-nick{
		font-family: "Roboto", sans-serif;
		font-size : 16px;
		font-weight : bold;
		position: relative;
		top : 6px;
		left : 305px;
	}
	
	.header-btn{
		font-family: "Roboto", sans-serif;
		text-transform: uppercase;
		background: #4A8C99;
		padding: 7px;
		color: #FFFFFF;
		width: 23%;
		font-size: 14px;
		cursor: pointer; /*커서모양을 바꿈*/
		border-radius: 8px;
	}	
	#user-modify{
		position: relative;
		width : 150px;
		top : 1px;
		left : 300px;
		height: 45px;
	}
	#user-logout{
		position: relative;
		width : 150px;
		top : 1px;
		left : 305px;
		height: 45px;
	}
	
	.btn {
		font-family: "Roboto", sans-serif;
		text-transform: uppercase;
		background: #4A8C99;
		width: 25%;
		border: 0;
		padding: 15px;
		color: #FFFFFF;
		font-size: 15px;
		cursor: pointer; /*커서모양을 바꿈*/
		border-radius: 8px;
	}
	
	.btn:hover , .header-btn:hover{
	 	background: #368899;
	 	color: #FFFFFF;
	}
	
	.pull-left{
		margin-left: 30px !important;
	}