<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PushMapper">

    <parameterMap id="SP_PUT_PUSH_DATA_PARAM" type="com.sns.common.push.vo.SPPushReqVO" >
		<parameter property="pushType" mode="IN"/>
		<parameter property="title" mode="IN"/>
		<parameter property="message" mode="IN"/>
		<parameter property="boardNum" mode="IN"/>
		<parameter property="retCode" mode="OUT" jdbcType="VARCHAR" javaType="String"/>
		<parameter property="retMessage" mode="OUT" jdbcType="VARCHAR" javaType="String"/>
	</parameterMap>
	
    <select id="spPutPushData" statementType="CALLABLE" parameterMap="SP_PUT_PUSH_DATA_PARAM">
		{ CALL SP_PUT_PUSH_DATA( ?, ?, ?, ?, ?, ?) } 
	</select>
	
</mapper>